# Junk that could exist anywhere:
.DS_Store
*.swp
*.tmp
*.xcuserstate

# Project files that should not be in the repo
.buildpath
.project
.settings/
.settings.xml
.*.gz

# A handy place to put stuff that git should ignore:
/ignore/
/project.xcworkspace/
/xcuserdata/
node_modules/
tool/node_modules/

.git-ref
deps/

*.xccheckout
*.xcworkspacedata
*.xcsettings
*.xcexplist
*.xcbkptlist
*.xcscheme

obyx.xcodeproj/xcuserdata/ben.xcuserdatad/xcschemes/xcschememanagement.plist
