<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>obyx.cgi.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>obyx.fcgi.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>B541F1E611941E1E0099F07C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>B5DBC1C115F0DA70002E75CC</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>B5DBC1D315F0DE8E002E75CC</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>B5E31FFE09BC596000F7FC96</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
